.work-card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.data {
    width: 30%;
}

.work-card-container h3,
.work-card-container p{
    margin: 0;
}

.description {
    width: 60%;
}