header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  margin-top: 8px;
}

main {
  padding: 0px 25%;
}

h2 {
  color: white;
  font-size: 30px;
}

h3 {
  color: white;
}

p {
  color: #B5B9C0;
  line-height: 24px;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}

.work-experience {
  padding: 144px 0;
  
}

.work-cards {
  display: flex;
  flex-direction: column;
  gap: 64px;
}